body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background:#0f1117;
  color:white;
}

header {
  text-align:center;
  padding:40px 0;
}

h2 {
    text-align: center;
    padding: 20px 0;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
  gap:20px;
  padding:20px 5%;
}

.card {
  background:#1a1d26;
  border-radius:12px;
  overflow:hidden;
  cursor:pointer;
  transition:0.3s;
}

.card:hover {
  transform:translateY(-6px);
}

.card img {
  width:100%;
  height:120px;
  object-fit:cover;
}

.card h3 {
  font-size:14px;
  padding:10px;
  margin:0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  display:flex;
  justify-content:space-between;
  padding:0 10px 10px;
  font-weight:bold;
}

.discount {
  color:#ff4d4d;
}

.sale {
  color:#00ff99;
}

.end {
  font-size:12px;
  padding:0 10px 10px;
  color:#ccc;
}

#genreFilters {
  text-align:center;
  padding:20px;
}

#genreFilters button {
  margin:5px;
  padding:8px 14px;
  border:none;
  border-radius:20px;
  background:#2a2f3a;
  color:white;
  cursor:pointer;
}

#loading {
  text-align: center;
  font-size: 1.5rem;
  padding: 50px;
  display: block;
}
